Repository fmartins-andre/teste-frontend-agrotis: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix --no-error-on-unmatched-pattern

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "npx prettier --write",
    "npx eslint --fix --no-error-on-unmatched-pattern"
  ],
  "*.{md,html,css}": "npx prettier --write"
}

chore: add commitlint
  .husky/commit-msg
  package-lock.json
  package.json
Due: none

chore: move lint-staged config to package.json
  .lintstagedrc.json
  package.json
Due: none

chore: add mui lib
  package-lock.json
  package.json
Due: none

chore: add fonts and icons from google
  index.html
Due: npx prettier --write

chore: add config to typescript paths
  package-lock.json
  package.json
  tsconfig.json
  vite.config.ts
Due: npx prettier --write, npx eslint --fix --no-error-on-unmatched-pattern

feat: add app layout
  public/logo-agrotis-full.svg
  src/App.tsx
  src/global.css
  src/main.tsx
  src/ui/layouts/layout-agrotis/index.ts
  src/ui/layouts/layout-agrotis/layout-agrotis.comp.tsx
Due: npx prettier --write, npx eslint --fix --no-error-on-unmatched-pattern

chore: add date lib and datepicker component
  package-lock.json
  package.json
Due: none

feat: setup providers and add the form
  src/App.tsx
  src/features/forms/form-agrotis/form-agrotis.comp.tsx
  src/features/forms/form-agrotis/index.ts
  src/resources/theme/theme-agrotis.ts
  src/ui/layouts/layout-agrotis/components/fancy-container/fancy-container.comp.tsx
  src/ui/layouts/layout-agrotis/components/fancy-container/index.ts
Due: npx prettier --write, npx eslint --fix --no-error-on-unmatched-pattern

fix: component tree at wrong root
  src/features/forms/form-agrotis/form-agrotis.comp.tsx
  src/ui/components/fancy-container/fancy-container.comp.tsx
  src/ui/components/fancy-container/index.ts
Due: npx prettier --write, npx eslint --fix --no-error-on-unmatched-pattern

chore: add form handling and validation packages
  package-lock.json
  package.json
Due: none

chore: add libs to api management
  .eslintrc.json
  package-lock.json
  package.json
  src/App.tsx
Due: npx prettier --write, npx eslint --fix --no-error-on-unmatched-pattern

feat: add api config and resources
  src/resources/api/client.ts
  src/resources/api/contract.ts
  src/resources/api/index.ts
  src/resources/api/types.ts
Due: npx prettier --write, npx eslint --fix --no-error-on-unmatched-pattern

feat: add form handling and validation
  src/features/forms/form-agrotis/default-values.ts
  src/features/forms/form-agrotis/form-agrotis.comp.tsx
  src/features/forms/form-agrotis/form-agrotis.schema.ts
  src/utils/get-parsed-obj.ts
  src/utils/parse-date-to-iso.ts
Due: npx prettier --write, npx eslint --fix --no-error-on-unmatched-pattern

chore: setup zod translation
  package-lock.json
  package.json
  src/App.tsx
Due: npx prettier --write, npx eslint --fix --no-error-on-unmatched-pattern

refactor: move providers to a single componentwq
  src/App.tsx
  src/resources/providers/default-provider.tsx
Due: npx prettier --write, npx eslint --fix --no-error-on-unmatched-pattern

refactor: move inputs to its own components
  src/features/forms/form-agrotis/form-agrotis.comp.tsx
  src/features/forms/form-agrotis/helpers/use-update-cnpj.hook.ts
  src/features/forms/form-agrotis/subcomponents/inputs/common-types.ts
  src/features/forms/form-agrotis/subcomponents/inputs/index.ts
  src/features/forms/form-agrotis/subcomponents/inputs/input-autocomplete.comp.tsx
  src/features/forms/form-agrotis/subcomponents/inputs/input-date.comp.tsx
  src/features/forms/form-agrotis/subcomponents/inputs/input-text.comp.tsx
Due: npx prettier --write, npx eslint --fix --no-error-on-unmatched-pattern

refactor: move submit handler to a hook
  src/features/forms/form-agrotis/form-agrotis.comp.tsx
  src/features/forms/form-agrotis/helpers/use-submit-form.hook.ts
Due: npx prettier --write, npx eslint --fix --no-error-on-unmatched-pattern

feat: add default helper text conditions
  src/features/forms/form-agrotis/form-agrotis.comp.tsx
  src/features/forms/form-agrotis/subcomponents/inputs/input-autocomplete.comp.tsx
  src/features/forms/form-agrotis/subcomponents/inputs/input-text.comp.tsx
Due: npx prettier --write, npx eslint --fix --no-error-on-unmatched-pattern

fix: form validation improvements
  src/features/forms/form-agrotis/form-agrotis.schema.ts
Due: npx prettier --write, npx eslint --fix --no-error-on-unmatched-pattern

fix: form common autocomplete helpertext
  src/features/forms/form-agrotis/subcomponents/inputs/input-autocomplete.comp.tsx
Due: npx prettier --write, npx eslint --fix --no-error-on-unmatched-pattern

fix: input autocomplete import
  src/features/forms/form-agrotis/form-agrotis.comp.tsx
  src/features/forms/form-agrotis/subcomponents/inputs/index.ts
Due: npx prettier --write, npx eslint --fix --no-error-on-unmatched-pattern

docs: update read me file
  README.md
Due: npx prettier --write
